_Inline/
lib/Module/
Build
_build/
blib/
lib/PDL/Fit/Householder.c
lib/PDL/Fit/Householder.o
lib/PDL/Fit/Householder.pm
lib/PDL/Fit/Householder.xs
*.yml
!.github/**/*.yml
*~
*.bak
PDL-Fit-Householder-*
